@import url("http://use.fontawesome.com/releaases/v6.5.1/css/all.css");

@font-face {
	font-family: myFont;
	src: url("./Pacifico-Regular.ttf");
}
body {
    height: 100vh;
    margin: 0;
    background: #002b36;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.xmas-tree {
    margin-top: 200px;
    position: relative;
    width: 500px;
    height: 590px;
    z-index: -2;
}

h1 {
    color:#fffc00;
}

.star {
    z-index: 3;
    position: absolute;
    color: #fffc00;
    font-size: 40px;
    text-shadow: 0 0 20px #fffc00;
    left: 50%;
    top: 15%;
    margin-left: -22px;
    animation: spin 2s;
    -webkit-animation: spin 2s infinite linear forwards;
}


@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.t1 {
    position: absolute;
    z-index: 2;
    border-bottom: 100px solid #2bd937;
    margin-left: -100px;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 20%;
    left: 50%;
}

.t2 {
    position: absolute;
    z-index: 1;
    border-bottom: 125px solid #26bd30;
    margin-left: -125px;
    border-right: 125px solid transparent;
    border-left: 125px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 27%;
    left: 50%;
}

.t3 {
    position: absolute;
    border-bottom: 150px solid #1f9927;
    margin-left: -150px;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 34%;
    left: 50%;
}

.t1::before,
.t1::after,
.t2::before,
.t2::after,
.t3::before,
.t3::after {
    position: absolute;
    content: "";
    background: #d6d400;
    z-index: 3;
    width: 10px;
    height: 20px;
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

.t2::before {
    animation-delay: 0.5s;
}

.t2::after {
    animation-delay: 0.5s;
}

.t3::before {
    animation-delay: 1s;
}

.t3::after {
    animation-delay: 1s;
}

@keyframes blink {
    30% {
        background: rgb(255,255,0);
        box-shadow: 0 0 20px 10px #fffc0059;
    }

    60% {
        background: #d6d400;
        box-shadow: 0 0 0px 0px #fffc0059;
    }
}

.t1::before {
    top: 77px;
    left: -82px;
}

.t1::after {
    top: 77px;
    right: -82px;
}

.t2::before {
    top: 98px;
    left: -103px;
}

.t2::after {
    top: 98px;
    right: -103px;
}

.t3::before {
    top: 118px;
    left: -122px;
}

.t3::after {
    top: 118px;
    right: -122px;
}

.stem {
    position: absolute;
    top: 53%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 100px;
    z-index: -1;
    background: #694215;
}

.snow-ground {
    margin-left: -60px;
    z-index: -4;
    position: absolute;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    background: rgb(123, 119, 119);
    top: 67%;
    left: 50%;
}

.snow {
    position: absolute;
    top: -10px;
    background: lightblue;
    border-radius: 50%;
    animation: fall linear;
}


.wreath {
    position: absolute;
    z-index: 3;
    width: 18%;
    height: 18%;
    width: 30px; 
    height: 30px; 
    background-image: url("./images/christmas-wreath.png");
    background-size: cover; 
    margin-top: 145px;
    margin-left: 260px;
}


.mistletoe{
    position: absolute;
    z-index: 3;
    width: 18%;
    height: 18%;
    width: 30px; 
    height: 30px; 
    background-image: url("./images/mistletoe.png");
    background-size: cover; 
    margin-top: 170px;
    margin-left: 200px;
    transform: rotate(-45deg);
}


.ball1 {
    position: absolute;
    z-index: 3;
    width: 18%;
    height: 18%;
    width: 30px;
    height: 30px;
    background-image: url("./images/ball1.png");
    background-size: cover;
    margin-top: 230px;
    margin-left: 200px;
    transform: rotate(20deg);
}


.ball2{
    position: absolute;
    z-index: 3;
    width: 18%;
    height: 18%;
    width: 30px;
    height: 30px;
    background-image: url("./images/ball2.png");
    background-size: cover;
    margin-top: 281px;
    margin-left: 230px;
    transform: rotate(-20deg);
}


.santa {
    position: absolute;
    z-index: 3;
    width: 30%;
    height: 30%;
    width: 60px;
    height: 60px;
    background-image: url("./images/santa-claus.png");
    background-size: cover;
    margin-top: 200px;
    margin-left: 250px;
    transform: rotate(-25deg);
}


.sock {
    position: absolute;
    z-index: 3;
    width: 18%;
    height: 18%;
    width: 30px;
    height: 30px;
    background-image: url("./images/christmas-sock.png");
    background-size: cover;
    margin-top: 300px;
    margin-left: 285px;
    transform: rotate(-20deg);
    transform: scaleX(-1);
}


.santa2{
    position: absolute;
    z-index: 3;
    width: 30%;
    height: 30%;
    width: 50px;
    height: 50px;
    background-image: url("./images/santa-claus2.png");
    background-size: cover;
    margin-top: 285px;
    margin-left: 155px;
    transform: rotate(deg);
}


.gift{
    position: absolute;
    z-index: 3;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/gift-box.png");
    background-size: cover;
    margin-top: 370px;
    margin-left: 200px;
}


.gift2 {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/gift-bag.png");
    background-size: cover;
    margin-top: 375px;
    margin-left: 240px;

}


.gift3{
    position: absolute;
    z-index: 4;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/gift-box3.png");
    background-size: cover;
    margin-top: 360px;
    margin-left: 266px;
}


.snowman {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    width: 200px;
    height: 200px;
    background-image: url("./images/snowman.png");
    background-size: cover;
    margin-top: 325px;
    margin-left: 650px;
}


.reindeer {
        position: absolute;
        z-index: 5;
        width: 70%;
        height: 70%;
        width: 50px;
        height: 50px;
        background-image: url("./images/reindeer.png");
        background-size: cover;
        margin-top: 10px;
        margin-left: 20px;
}

.reindeer2 {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/reindeer.png");
    background-size: cover;
    margin-top: -10px;
    margin-left: 120px;
}


.reindeer3 {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/reindeer.png");
    background-size: cover;
    margin-top: 30px;
    margin-left: -70px;
}


.reindeer4 {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/reindeer.png");
    background-size: cover;
    margin-top: 30px;
    margin-left: 540px;
    transform: scaleX(-1);
}


.reindeer5 {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/reindeer.png");
    background-size: cover;
    margin-top: 10px;
    margin-left: 440px;
    transform: scaleX(-1);
}


.reindeer6 {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    width: 50px;
    height: 50px;
    background-image: url("./images/reindeer.png");
    background-size: cover;
    margin-top: -10px;
    margin-left: 340px;
    transform: scaleX(-1);
}


.content__title {
        animation-name: typewrite;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        z-index: 3;
        font-family: myFont;
        font-weight: 500;
        font-size: 80px;
        color: aquamarine;
        margin-top: -340px;
        margin-left: -250px;
        line-height: 120px; 
        width: 300px;
        white-space: nowrap;
        position: relative;
        animation: blink_text 2s linear infinite;
}


.big_santa {
    z-index: 3;
    position: absolute;
    width: 10%;
    height: 10%;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-top: 90px;
    margin-left: 620px;
    transform: rotate(20deg);
    background-image: url("./images/santa-claus-sled.png");
}


.penguin {
    z-index: 3;
    position: absolute;
    width: 70%;
    height: 70%;
    width: 100px;
    height: 100px;
    margin-top: 300px;
    margin-left: 450px;
    background-size: cover;
    background-image: url("./images/penguin.png");
}


.ground {
    z-index: -5;
    margin-left: -570px;
    margin-top: 270px;
    position: absolute;
    width: 1800px;
    height: 700px;
    border-radius: 70%;
    background: rgb(245, 245, 245)
}


.flying_reindeer{
    z-index: 2;
    position: relative;
    margin-left: 567px;
    margin-top: 70px;
    width: 150px;
    height: 150px;
    transform: rotate(20deg) scaleX(-1);
    background-image: url("./images/flying_reindeer.png");
    background-size: cover;
}


.house {
    z-index: 3;
    position: absolute;
    margin-left: -250px;
    margin-top: -20px;
    width: 275px;
    height: 275px;
    background-size: cover;
    background-image: url("./images/house.png");
}

.santa3 {
    z-index: 2;
    position: absolute;
    margin-left: -67px;
    margin-top: -65px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url("./images/santa-claus5.png");
}


@keyframes blink_text{
0%
{
    color: red;
    opacity: 0;
    text-shadow: 2px 2px 10px red;
}


50%
{
    color: yellow;
    opacity: .5;
    text-shadow: 2px 2px 10px yellow;
}
100%
{
    color: #00d6c4;
    opacity: 1;
    text-shadow: 2px 2px 10px #00d6c4;
}
}

@keyframes blink1 {
    30% {
        box-shadow: 2px 2px 20px  rgba(255, 251, 36, 0.899);
    }

    60% {
        box-shadow: 2px 2px 2cap  rgba(255, 251, 36, 0.899);
    }
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}


